html, body{
	font-size: 62.5%; // 1em = 10px
	background: $main-bkg-color;
	min-width: 320px;
}
body{
	padding: 0 1em;
}
*{
	box-sizing: border-box;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}