// Map for the main mediq query breakpoints
$breakpoints: (
	small  : 30em,
	medium : 65em,
	large  : 90em
);
// Mediq Query for Responsive Design
@mixin mq($mq-breakpoint) {
	@if map-has-key($breakpoints, $mq-breakpoint) {
		$mq-breakpoint: map-get($breakpoints, $mq-breakpoint);
	}
	@media (min-width: #{$mq-breakpoint}){
		@content;
	}
}