footer p{
	display: block;
	text-align: center;
	font-size: 2em;
	padding-bottom: 2em;
	margin-top: -1em;
	font-family: $mainfont;
	@include mq(medium){
		margin-top: 0;
		padding: 2em;
		font-size: 2.5em;
	}
}
footer p span{
	font-family: $logofont;
}