header{
	padding: 5em 0 2em 0;
}
#logo{
	font-family: $logofont;
	font-weight: 700;
	font-size: 5em;
	text-align: center;
}
#quote{
	font-family: $mainfont;
	font-size: 1.6em;
	display: block;
	margin-top: 1em;
	text-align: center;
}