// The dog svg animation
// by : Matt Greenberg
#dog{
	width: 5em;
	display: block;
	margin: 0 auto 0.5em auto;
	overflow: visible;
}
#left-ear,
#right-ear{
	transition: all .5s ease-in-out;
	transform-origin: 50% 0;
}
header:hover{
	#left-ear{
		transform: rotate(30deg) translate(20%, -38%);		
	}
	#right-ear{
		transform: rotate(-30deg) translate(-20%, -38%);
	}	
}